/*Agregar las reglas para la altura y ancho*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

#map{
    height: 70vh;
    width: 98vw;

}

header{
    font-family:  'Montserrat';
    color: #fff;
    background-color: #185813;
    margin-top: 2px; 
    text-align: center;
}

footer{
    font-family:  'Montserrat';
    color: #fff;
    background: #185813;
    padding: 2rem 0;
    text-align: center;
    margin-top: 1em;
}

.media-icons a:hover{
    color: #185813;
    background-color: #fff;

}